@* @model List<Categoria> *@

@{
    var bairros = ViewBag.BuscarBairros;
    var categorias = ViewBag.BuscarCategorias;
}

<div class="container-geral">
    <h1 class="titulo-geral ">Realize uma Denuncia</h1>
</div>

<div class="container-cadastrar">
    <h1 class="titulo-form">Editar uma Denúncia</h1>
    <div class="cor-de-fundo" style="border-radius:5px">
        <div class="container mt-5">
            <form id="editarDenuncia">
                <div class="row">
                    <input type="hidden" name="Id">
                    <div class="mb-3 col-md-6 cacete02">
                        <label>Data</label>
                        <input type="date" class="form-control" name="data" required>
                    </div>
                    <div class="mb-3 col-md-6 cacete">
                        <label for="tipoUsuario" class="form-label">Bairro</label>
                        <select id="bairros" class="form-select drop-down" name="Bairro">
                            @foreach (var bairro in bairros)
                            {
                                <option value="@bairro.Id">@bairro.Nome</option>

                            }
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="tipoUsuario" class="form-label">Categoria Denuncia</label>
                        <select id="categorias" class="form-select drop-down" name="IdCategoria">
                            @foreach (var categoria in categorias)
                            {
                                @if (categoria.IdCategoriaPai == null)
                                {
                                    <option data-nome="@categoria.Nome" value="@categoria.Id">@categoria.Nome</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="tipoUsuario" class="form-label">Subcategoria Denuncia</label>
                        <select id="subcategorias" class="form-select drop-down" name="IdCategoriaPai">
                            @foreach (var subcategoria in categorias)
                            {
                                @if (subcategoria.IdCategoriaPai != null)
                                {
                                    <option data-nome="@subcategoria.Nome" value="@subcategoria.Id" name="">
                                        @subcategoria.Nome</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="jooj form-group">
                        <label class="descricao">Descrição</label>
                        <textarea rows="3" id="cadastrarDenuncia" name="Descricao"></textarea>
                    </div>
                </div>
                <div class="ajuste-botoes">
                    <button type="button" class="btn btn-dark botao-denunciar"
                        onclick="home.editarDenuncia()">Denunciar</button>
                </div>
                <a class="btn btn-dark" asp-controller="Usuario" asp-action="Index">Voltar</a>
            </form>
        </div>
    </div>
</div>
